<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> title </title>
  <!-- Incluir CSS aqui se necessário -->
</head>
<body>
  <header>
    <!-- Conteúdo do cabeçalho aqui -->
  </header>

  <main>
    <body>

        
    </body>
  </main>

  <footer>
    <!-- Conteúdo do rodapé aqui -->
  </footer>

  <!-- Incluir JavaScript aqui se necessário -->
</body>
</html>
