<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Relatórios</title>
</head>
<body>
  <h1>Relatórios</h1>
  <ul>
    <% for(let relatorio of relatorios) { %>
      <li><%= relatorio.nome %></li>
    <% } %>
  </ul>
</body>
</html>
